<section class="advantages section">
  <div class="container advantages-container">
    <h2 class="advantages-title visually-hidden">Advantages</h2>
    <ol class="advantages-list">
      <li class="advantages-item">
        <span class="advantages-number"></span>
        <p class="advantages-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="advantages-item">
        <span class="advantages-number"></span>
        <p class="advantages-text">Fishing: try to catch your own dinner</p>
      </li>
      <li class="advantages-item">
        <span class="advantages-number"></span>
        <p class="advantages-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advantages-item">
        <span class="advantages-number"></span>
        <p class="advantages-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>
    <picture class="advantages-img">
      <source
        srcset="
          /img/desktop-1440/adv-yacht-desktop1440.jpg    1x,
          /img/desktop-1440/adv-yacht-desktop1440@2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          /img/desktop/adv-yacht-desktop.jpg    1x,
          /img/desktop/adv-yacht-desktop@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /img/tablet/adv-yacht-tablet.jpg    1x,
          /img/tablet/adv-yacht-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /img/mobile/adv-yacht-mobile.jpg    1x,
          /img/mobile/adv-yacht-mobile@2x.jpg 2x
        "
        media="(min-width: 375px)"
      />
      <img
        src="/img/mobile/adv-yacht-mobile.jpg"
        alt="advantages-photo-yacht"
        class="advantages-img"
      />
    </picture>
  </div>
</section>
