<header class="header">
  <div class="container">
    <div class="header-nav">
      <nav>
        <a href="index.html" class="nav-logo">yachtjet</a>

        <ul class="navigation-list">
          <li class="header-nav-link">
            <a href="#aboutus" class="nav-link">About</a>
          </li>
          <li class="header-nav-link">
            <a href="#ouryachts" class="nav-link">Yachts</a>
          </li>
          <li class="header-nav-link">
            <a href="#reviews" class="nav-link">Reviews</a>
          </li>
        </ul>

        <ul class="header-social-list">
          <li>
            <a
              target="_blank"
              href="https://www.instagram.com/goitclub/"
              class="header-social-link"
            >
              <svg class="header-soc-icon" width="24" height="24">
                <use href="img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.youtube.com/c/GoIT"
              class="header-social-link"
            >
              <svg class="header-soc-icon" width="24" height="24">
                <use href="img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.facebook.com/goITclub/"
              class="header-social-link"
            >
              <svg class="header-soc-icon" width="24" height="24">
                <use href="img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <button type="button" class="btn-menu" data-menu-open>
          <!-- <svg class="menu-icon" width="28" height="28">
            <use href="img/sprite.svg#icon-menu"></use>
          </svg> -->
          <svg
            class="menu-icon"
            width="28"
            height="28"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4 10.571c-0.789 0-1.429 0.64-1.429 1.429v0c0 0.789 0.64 1.429 1.429 1.429v0h24c0.789 0 1.429-0.64 1.429-1.429v0c0-0.789-0.64-1.429-1.429-1.429v0zM4 18.571c-0.789 0-1.429 0.64-1.429 1.429v0c0 0.789 0.64 1.429 1.429 1.429v0h24c0.789 0 1.429-0.64 1.429-1.429v0c0-0.789-0.64-1.429-1.429-1.429v0z"
            />
          </svg>
        </button>
      </nav>
    </div>
  </div>
</header>
