<div class="mobile-menu" data-menu>
  <div class="menu-header-box">
    <a href="./index.html" class="monile-menu-logo">yachtjet</a>
    <button type="button" class="cross-icon-box" data-menu-close>
      <svg class="icon" width="28" height="28">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <nav class="mobile-page-nav">
    <ul class="mobile-navlist-menu">
      <li><a class="link current" href="">ABOUT</a></li>
      <li><a class="link" href="">YACHTS</a></li>
      <li><a class="link" href="">REVIEWS</a></li>
    </ul>
  </nav>
  <ul class="mobile-icon-box">
    <li class="icon-box-element">
      <a class="link" href="https://www.instagram.com/goitclub/">
        <svg class="icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="icon-box-element">
      <a class="link" href="https://www.youtube.com/c/GoIT">
        <svg class="icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li class="icon-box-element">
      <a class="link" href="https://www.facebook.com/goITclub/">
        <svg class="icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
