<section class="ouryachts section">
  <div class="ouryachts-container container">
    <h2 class="ouryachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="ouryachts-list">
      <li class="ouryachts-item">
        <div class="ouryachts-img-box">
          <picture>
            <source
              srcset="
                ../img/desktop/our-yacht-1-desktop.jpg    1x,
                ../img/desktop/our-yacht-1-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/tablet/our-yacht-1-tablet.jpg    1x,
                ../img/tablet/our-yacht-1-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/mobile/our-yacht-mobile.jpg    1x,
                ../img/mobile/our-yacht-mobile@2x.jpg 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="../img/mobile/our-yacht-mobile.jpg"
              alt="yacht-photo-arrow"
              class="ouryachts-photo"
            />
          </picture>
        </div>
        <div class="ouryachts-card-content">
          <div class="ouryachts-card">
            <h3 class="ouryachts-card-title">Arrow</h3>
            <span class="ouryachts-card-category">LUXURY YAHTS</span>
          </div>
          <ul class="ouryachts-details-list">
            <li class="ouryachts-details-item">
              <p class="ouryachts-details">LENGTH</p>
              <span class="ouryachts-details-text">48m(155ft)</span>
            </li>
            <li class="ouryachts-details-item">
              <p class="ouryachts-details">BUILDER</p>
              <span class="ouryachts-details-text">Admiral</span>
            </li>
            <li class="ouryachts-details-item">
              <p class="ouryachts-details">BUILT</p>
              <span class="ouryachts-details-text">2021</span>
            </li>
            <li class="ouryachts-details-item">
              <p class="ouryachts-details">GUESTS</p>
              <span class="ouryachts-details-text">11 in 5 cabins</span>
            </li>
            <li class="ouryachts-details-item">
              <p class="ouryachts-details">PRICE</p>
              <span class="ouryachts-details-text">&#8364;33,500,000</span>
            </li>
          </ul>
        </div>
      </li>

      <li class="ouryachts-item">
        <div class="ouryachts-img-box">
          <picture>
            <source
              srcset="
                ../img/desktop/our-yacht-2-desktop.jpg    1x,
                ../img/desktop/our-yacht-2-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/tablet/our-yacht-2-tablet.jpg    1x,
                ../img/tablet/our-yacht-2-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="../img/tablet/our-yacht-2-tablet.jpg"
              alt="yacht-photo-benetti"
              class="ouryachts-photo"
            />
          </picture>
        </div>
        <div class="ouryachts-card-content">
          <div class="ouryachts-card">
            <h3 class="ouryachts-card-title">BENETTI OASIS 40M B...</h3>
            <span class="ouryachts-card-category">LUXURY YAHTS</span>
          </div>
          <ul class="ouryachts-details-list">
            <li class="ouryachts-details-item">
              <p class="ouryachts-details">LENGTH</p>
              <span class="ouryachts-details-text">41m (133ft)</span>
            </li>
            <li class="ouryachts-details-item">
              <p class="ouryachts-details">SHIPYARD</p>
              <span class="ouryachts-details-text">Benetti</span>
            </li>
            <li class="ouryachts-details-item">
              <p class="ouryachts-details">BUILT</p>
              <span class="ouryachts-details-text">2025</span>
            </li>
            <li class="ouryachts-details-item">
              <p class="ouryachts-details">GUESTS</p>
              <span class="ouryachts-details-text">10 in 5 cabins</span>
            </li>
            <li class="ouryachts-details-item">
              <p class="ouryachts-details">PRICE</p>
              <span class="ouryachts-details-text">&#8364;23,210,000</span>
            </li>
          </ul>
        </div>
      </li>

      <li class="ouryachts-item">
        <div class="ouryachts-img-box">
          <picture>
            <source
              srcset="
                ../img/desktop/our-yacht-3-desktop.jpg    1x,
                ../img/desktop/our-yacht-3-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="../img/desktop/our-yacht-3-desktop.jpg"
              alt="yacht-photo-belle-anna"
              class="ouryachts-photo"
            />
          </picture>
        </div>
        <div class="ouryachts-card-content">
          <div class="ouryachts-card">
            <h3 class="ouryachts-card-title">BELLE ANNA</h3>
            <span class="ouryachts-card-category">LUXURY YAHTS</span>
          </div>
          <ul class="ouryachts-details-list">
            <li class="ouryachts-details-item">
              <p class="ouryachts-details">LENGTH</p>
              <span class="ouryachts-details-text">50m(155ft)</span>
            </li>
            <li class="ouryachts-details-item">
              <p class="ouryachts-details">SHIPYARD</p>
              <span class="ouryachts-details-text">ISA</span>
            </li>
            <li class="ouryachts-details-item">
              <p class="ouryachts-details">BUILT</p>
              <span class="ouryachts-details-text">2012</span>
            </li>
            <li class="ouryachts-details-item">
              <p class="ouryachts-details">GUESTS</p>
              <span class="ouryachts-details-text">12 in 6 cabins</span>
            </li>
            <li class="ouryachts-details-item">
              <p class="ouryachts-details">PRICE</p>
              <span class="ouryachts-details-text">&#8364;21,000,000</span>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <button type="submit" class="ouryachts-btn" id="">Yacht rental</button>
  </div>
</section>
