<section class="rent-yacht">
    <div class="container rent-box">
        <div class="crutch">
            <h2 class="rent-form-header">Rent a yacht now</h2>
            <form class="rent-form">
                <div class="rent-form-element">
                    <label class="rent-form-label" for="user-name"></label>
                    <input type="text" name="user-name" pattern="\w{3,16}" id="user-name" class="rent-form-input" placeholder="Full Name" />
                </div>
                <div class="rent-form-element">
                    <label class="rent-form-label" for="user-email"></label>
                    <input type="email" name="user-email" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" id="user-email" class="rent-form-input" placeholder="Email" />
                </div>
                <div class="rent-form-element">
                    <label class="rent-form-label" for="user-tel"></label>
                    <input type="tel" name="user-tel" pattern="^\+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}$" id="user-tel" class="rent-form-input" placeholder="Phone number"/>
                </div>
                <div class="rent-form-element rent-form-element-textarea">
                    <label class="rent-form-label" for="user-comment"></label>
                    <textarea name="user-comment" id="user-comment" class="rent-form-input rent-form-input-textarea" placeholder="Comment"></textarea>
                </div>
                <button type="submit" class="rent-button">Send</button>
            </form>
        </div>
        <picture>
            <source srcset="
                ./img/desktop-1440/rent-yacht-desktop1440.jpg 1x,
                ./img/desktop-1440/rent-yacht-desktop1440@2x.jpg 2x" media="(min-width: 1440px)" />
            <source srcset="
                ./img/desktop/rent-yacht-desktop.jpg 1x,
                ./img/desktop/rent-yacht-desktop@2x.jpg 2x" media="(min-width: 1280px)" />
            <source srcset="
                ./img/tablet/rent-yacht-tablet.jpg 1x,
                ./img/tablet/rent-yacht-tablet@2x.jpg 2x" media="(min-width: 768px)" />
            <source srcset="
                ./img/mobile/rent-yacht-mobile.jpg 1x,
                ./img/mobile/rent-yacht-mobile@2x.jpg 2x" media="(max-width: 767px)" />
            <img class="rent-picture" src="./img/mobile/rent-yacht-mobile.jpg" alt="Yacht at dusk" />
        </picture>
    </div>
</section>